.grid {
  width:300px;
  height: 600px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
}

.grid div{
  height: 30px;
  width: 30px;
  background-color: none;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  width:120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  margin-left:20px;

}

.mini-grid div {
  height: 30px;
  width: 30px;
}

.container {
  display: flex;
  margin-top: 20px;
  height: 50%;
  flex: 1;
  background-color: rgba(0, 0, 0, 0.37);
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
}

body {
  width: 95vw;
  height: 95vh;
  background-image: url(bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: rgba(0, 0, 0, 0.37);
  color: aliceblue;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}


.buttons {
  display: flex;
  flex-direction: column;
}

.buttons button {
  text-decoration: none;
  font-size: 2rem;
  margin-top: 10px;
  background-color: pink;
  border-radius: 1rem;
  border: none;
}

.buttons select {
  margin-top: 10px;
  text-decoration: none;
  font-size: 2rem;
  margin-top: 10px;
  background-color: pink;
  border-radius: 1rem;
  border: none;
  
}

.header p {
  margin: 0;
  font-size: 3.5rem;
}
